.taskTitle {
  font-size: 18px;
}

.todoTitle {
  font-size: 20px;
  font-weight: 600;
}

.errorMessage {
  position: absolute;
  color: red;
}

.titleBlock {
  & input {
    width: 157px;
  }
}

.taskBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

